$history_width: 20em;
$history_height: 25em;

.task-history {

  background-color: rgba(23, 184, 0, 0.6);
  overflow: scroll;
  display: inline-block;
  float: right;
  width: $history_width;
  height: 400px;
  border: 2px solid rgb(23, 184, 0);
  box-sizing: border-box;
  padding: 0.4em;
  vertical-align: top;

  ol {
    font-family: sans-serif;
  }

  .task-history-item {

    margin: 0 0.4em;
    cursor: pointer;
    padding: 2px 6px;

    &:hover, &.selected:hover {
      background-color: orangered;

      .task-history-value {
        color: white;
      }
    }

    .task-history-text {
      font-family: sans-serif;
    }

    &.selected {
      background-color: #fbff3e;
    }

    &.wrong {
      color: rgba(0, 0, 0, 0.5);
      text-decoration: line-through;

      .task-history-value {
        color: rgba(255, 60, 0, 0.5);
      }
    }

    .task-history-value {
      font-family: sans-serif;
      padding-left: 0.4em;
      font-weight: bold;
      color: #ff3c00;
    }
  }
}

.task-controls {
  display: block;
  margin-right: $history_width + 1em;
  margin-left: 1em;
  vertical-align: top;
}
